.image-carousel {
    margin: 30px 0;
    padding: 4px;
    position: relative;
    width: 500px;
}

.image-carousel .options-wrapper {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
}

.image-carousel select {
    padding: 5px;
}

/** Delete Button **/
.image-carousel .delete-button {
    background-color: blue;
    border: none;
    color: white;
    cursor: pointer;
    padding: 10px 20px;
}

.image-carousel .delete-button:hover {
    opacity: 0.7;
}

.image-carousel .delete-button:disabled {
    background-color: grey;
    cursor: not-allowed;
    opacity: 0.4;
}

.image-carousel .images {
    display: flex;
    flex-wrap: nowrap;
    position: relative;
    transition: left 700ms ease-in-out;
}

.image-carousel .obscure-left,
.image-carousel .obscure-right {
    background-color: whitesmoke;
    height: 100%;
    position: absolute;
    top: 0;
    width: 50vw;
    z-index: 1;
}
.image-carousel .obscure-left {
    right: 506px;
}
.image-carousel .obscure-right {
    left: 506px;
}

.image-carousel .images .image {
    position: relative;
    flex: 0 0 100%;
    width: 100%;
}

/** Two image display */
.image-carousel .images.display-2 .image {
    position: relative;
    flex: 0 0 50%;
    width: 50%;
}

/** Five image display */
.image-carousel .images.display-5 .image {
    position: relative;
    flex: 0 0 20%;
    width: 20%;
}

.image-carousel .images .image img {
    border: 2px solid transparent;
    box-sizing: border-box;
    height: auto;
    width: 100%;
}
.image-carousel .images .image.selected img {
    border: 2px solid blue;
}

/** Previous and Next **/
.image-carousel .previous,
.image-carousel .next {
    background-color: slategray;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20px;
    border: none;
    border-radius: 30px;
    margin-top: -145px;
    position: absolute;
    height: 30px;
    width: 30px;
    z-index: 2;
}
.image-carousel .previous:hover,
.image-carousel .next:hover {
    cursor: pointer;
}

.image-carousel .previous:disabled,
.image-carousel .next:disabled {
    opacity: 0.4;
}
.image-carousel .previous:disabled:hover,
.image-carousel .next:disabled:hover {
    cursor: not-allowed;
}

.image-carousel .previous:active,
.image-carousel .next:active,
.image-carousel .previous:focus,
.image-carousel .next:focus {
    border: none;
    outline: none;
}
.image-carousel .previous {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='0,50 80,100 80,0' fill='%23fff'/%3E%3C/svg%3E");
    left: -15px;
}
.image-carousel .next {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='100,50 20,100 20,0' fill='%23fff'/%3E%3C/svg%3E");
    right: -15px;
}

.image-carousel.carousel-5 .previous,
.image-carousel.carousel-5 .next {
    margin-top: -67px;
}
.image-carousel.carousel-5 .previous {
    left: -16px;
}
.image-carousel.carousel-5 .next {
    right: -16px;
}
