body {
    background-color: whitesmoke;
    margin: 0;
    padding: 0 0 20px 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
        'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#root {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
