/** Images **/
.image-selector .images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 10px;
}

.image-selector .image {
    border: 2px solid transparent;
    box-sizing: border-box;
    margin: 3px;
    padding: 10px;
}

.image-selector .image:hover {
    cursor: pointer;
}

.image-selector .image.selected {
    border: 2px solid blue;
}

/** Button **/
.image-selector .button-wrapper {
    align-items: center;
    display: flex;
    justify-content: center;
}

.image-selector .button-wrapper button {
    background-color: blue;
    border: none;
    color: white;
    cursor: pointer;
    padding: 10px 20px;
}

.image-selector .button-wrapper button:hover {
    opacity: 0.7;
}

.image-selector .button-wrapper button:disabled {
    background-color: grey;
    cursor: not-allowed;
    opacity: 0.4;
}
